# Compiled object files
*.o
*.ko
*.obj
*.elf

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled executables
*.exe

# Build directories
Build/
bin/

# IDE specific files and directories (Optional - Add or remove as needed)
.vscode/
.idea/
*.suo
*.user
*.sln
*.vcxproj
*.xcodeproj

# Dependency directories (Optional - Add or remove as needed)
vendor/
LightingEffects.lnk
